{% macro printFieldContent(field, data) %}
  {# This is a trick so we can safely print data, and replace \n with <br> #}
{% endmacro %}
<div class="alert alert-info">
  {{ translate('Please confirm the data you want to save:') }}
</div>
<div class="pickupmobile-scrollzone">
  <table class="table table-striped table-bordered">
    <tbody>
    {% for sv in stackValues %}
      {% set s = getDisplayStackValue(sv) %}
      {% if s %}
        <tr>
          <th>{{ s.label }}</th>
          <td>{{ s.display | trim | escape | nl2br }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="alert alert-danger d-none" pickupmobile-save-error-container></div>
<nav class="">
  <input type="submit" value="{{ translate('Save') }}" class="btn btn-primary"/>
</nav>
