<ul class="pickupmobile-choice-list">
{% for choice in currentState.choices %}
  <li>
    <button class="button" pickupmobile-button="{{ choice.value }}">{{ choice.label }}</button>
  </li>
{% endfor %}
</ul>
