<ul>
{% for choice in currentState.choices %}
  <li class="row justify-content-center">
    <button class="col-4 btn btn-primary" pickupmobile-button="{{ choice.value }}">{{ choice.label }}</button>
  </li>
{% endfor %}
</ul>
