<ul class="dolinput-choice-list">
{% for choice in currentState.choices %}
  <li>
    <button class="button" dolinput-button="{{ choice.value }}">{{ choice.label }}</button>
  </li>
{% endfor %}
</ul>
