<form action="" class="pickupmobile-page">
  <nav class="pickupmobile-top">
    {% if stack.previous %}
      <a class="btn btn-primary" role="button" pickupmobile-goto-previous>&larr; </a>
      <div>
        {% set previousLabel = stack.previous.displayStackValues() %}
        {% if previousLabel %}
          {{ previousLabel }}
        {% endif %}
      </div>
    {% endif %}
    {% if stack.stateName !== 'init' %}
      <a class="btn btn-primary" role="button" pickupmobile-reset-stack>{{ translate('Return to Home') }}</a>
    {% endif %}
  </nav>

  <h1 class="col-auto">{{ currentState.label }}</h1>
  {% if currentState.type === 'unknown' %}
    <div class="alert alert-danger">
      {{ translate('Not configured yet.') }}
    </div>
  {% elif currentState.type === 'choice' %}
    {% include 'mobilechoice.njk' %}
  {% elif currentState.type === 'select' %}
    {% include 'mobileselect.njk' %}
  {% elif currentState.type === 'pick' %}
    {% include 'mobilepick.njk' %}
  {% elif currentState.type === 'form' %}
    {% include 'mobileform.njk' %}
  {% elif currentState.type === 'show' %}
    {% include 'mobileshow.njk' %}
  {% elif currentState.type === 'save' %}
    {% include 'mobilesave.njk' %}
  {% else %}
    {{ translate('Don\'t know how to render this state.') }}
  {% endif %}
</form>
