@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required
@import "bootstrap/scss/utilities"; // Required
@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/utilities/api";

// If you want to test bootstrap without cherry picking files, you can try import all:
// @import "bootstrap/scss/bootstrap";

// Select2 styles:
@import "select2/src/scss/core";
@import "select2-bootstrap-5-theme/src/include-all";

html,
body,
div.container {
  height: 100%;
}

.pickupmobile-page {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: column nowrap;
  height: 100%;

  .pickupmobile-scrollzone {
    flex-grow: 2;
    padding: $spacer;
    overflow: auto;
  }
}

nav {
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
  padding: 10px 0;
  text-align: center;

  &.pickupmobile-top {
    border-bottom: 1px solid $body-color;
  }

  &:not(.pickupmobile-top) {
    border-top: 1px solid $body-color;
  }

  & > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 0;
    flex-shrink: 0;
  }

  & > div {
    // Everything that's not a button (a, button, input[type=submit], ...)
    flex-shrink: 2;
    flex-grow: 2;
  }
}

h1 {
  display: block;
  text-align: center;
}

label.pickupmobile-mandatory {
  font-weight: bold;
}

a[pickupmobile-show-goto]:not(.btn) {
  cursor: pointer !important;
  text-decoration: underline !important;

  &::after {
    content: "✎";
  }
}
