@media print {
  @page {
    /* this trick removes headers and footers that browsers are adding */
    margin: 0;

    /* size: landscape; */
  }

  // body {
  //   margin: 2mm;
  // }

  .page {
    // 1 label per page
    break-after: page;
  }
}

@media screen {
  .page {
    border: 1px solid red;
    width: 51mm;
    height: 25mm;
    padding: 1mm; // simulates the 1mm margin of the dymo printers.
  }

  // .block {
  //   border: 1px solid blue;
  // }
}

body {
  margin: 0;
  font-size: 2.5mm;
}

.page {
  margin: 0;
  padding: 2mm 4mm;
}

table.blocks {
  /* 55mm - padding 2+2 */
  border-collapse: collapse;
  margin-bottom: 2mm;
  max-width: 51mm;
  width: 100%;

  td.block {
    padding: 0 2mm 0 0;

    &:last-child {
      padding-right: 0;
      text-align: right;
    }

    /* we must put first-child after last-child, to have precedence if only 1 column */
    &:first-child {
      text-align: left;
    }

    img,
    svg {
      max-width: 100%;
      width: fit-content;
    }
  }
}

.footers {
  .footer {
    display: block;
  }
}

label {
  white-space: nowrap;
}
